spring:
  application:
    name: payments
  datasource:
    url: jdbc:h2:mem:paymentsdb
    username: sa
    password:
    driverClassName: org.h2.Driver
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
    h2:
      console:
        enabled: true
        path: /h2-console
